.buttonIcon {
  inline-size: 2.5rem;
  block-size: 2.5rem;
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--gray10);
}

.buttonIcon.is-white {
  background-color: var(--white);
  color: var(--gray50);
}

.buttonIcon.is-primary {
  background-color: var(--primary);
  color: var(--white);
}

.buttonIcon .icon-play {
  position: relative;
  left: 1px;
  top: 1px;
}

.buttonIcon:active,
.button:active {
  transform: scale(0.95);
}

.buttonIcon:hover:is([class*="is-"]) {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.button.is-primary {
  background-color: var(--primary);
  color: var(--white);
  font: var(--button);
  border: none;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  border-radius: 4.375rem;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonIcon.is-secondary {
  position: relative;
  border: 1px solid var(--white);
  inline-size: 2.5rem;
  block-size: 2.5rem;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  color: var(--gray10);
}

.buttonIcon.is-secondary .icon-play {
  position: absolute;
  inset-block-start: 34%;
  inset-inline-start: 40%;
  color: var(--white);
}

.buttonIcon.is-primary.is-likedPage {
  inline-size: 3.5rem;
  block-size: 3.5rem;
}

.buttonIcon.is-primary.is-likedPage i {
  font-size: 1rem;
}
