.image-cover {
  display: none;
  position: absolute;
  inset-block-start: 0;
  inline-size: 100%;
  z-index: -2;
}
.image-cover img {
  aspect-ratio: 16/9;
  inline-size: 100%;
}

.image-cover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    181.17deg,
    rgba(47, 47, 47, 0) -35.3%,
    #121212 90%
  );
}
