.is-showBackImage {
  position: relative;
  background: linear-gradient(
    181.17deg,
    rgba(47, 47, 47, 0) -35.3%,
    #171717 66.2%
  );
  background-attachment: fixed;
}

.personalizedPlaylist-hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  inline-size: fit-content;
  gap: 1.5rem;
  align-items: center;
  padding-block-end: 1rem;
}

.personalizedPlaylist-hero h3 {
  font: var(--headline1);
  color: var(--white);
  margin-block-end: 0;
  margin-block-start: 5.4375rem;
}

.personalizedPlaylist-info {
  font: var(--baseFont);
  color: var(--white);
  text-align: center;
}

.personalizedPlaylist-info p {
  margin: 0;
}

.personalizedPlaylist-songList {
}

.personalizedPlaylist-song {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.personalizedPlaylist-song p {
  color: var(--white);
}

.personalizedPlaylist-title p {
  margin: 0;
  font: var(--baseFont);
}

.personalizedPlaylist-table .icon-heart {
  font-size: 1.125rem;
  vertical-align: middle;
  color: var(--white);
}

.personalizedPlaylist-title .is-secondary {
  block-size: 1.5rem;
  inline-size: 1.5rem;
}

.personalizedPlaylist-title .is-secondary .icon-play {
  font-size: 8px;
}

.personalizedPlaylist-table {
  inline-size: 100%;
  --max-inline-size-icons: 2.75rem;
  --max-inline-size-calendar: 5.625rem;
}

.personalizedPlaylist-table tr {
  display: flex;
  line-height: 2.75rem;
}
.personalizedPlaylist-table tr td,
.personalizedPlaylist-table tr th {
  flex: 1;
}

.personalizedPlaylist-table tr th {
  text-align: start;
  text-transform: uppercase;
  font: var(--subtitle2);
}

.personalizedPlaylist-table .is-icon {
  max-inline-size: var(--max-inline-size-icons);
}

.personalizedPlaylist-table .is-calendar {
  max-inline-size: var(--max-inline-size-calendar);
}

.personalizedPlaylist-table .is-clock {
  max-inline-size: var(--max-inline-size-calendar);
}

.personalizedPlaylist-filter {
  margin-block: 1rem;
}

.personalizedPlaylist-filter .search input {
  background-color: transparent;
  color: var(--white);
}
.personalizedPlaylist-filter .search i {
  color: var(--white);
}
